.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

footer.page-footer {
  margin: 0;
}

.slider h3,
.slider h5 {
  font-style: italic;
}

#google-map {
  height: 400px;
}

#row-map {
  margin-bottom: 0;
}

.modal {
  max-height: 90%;
}

@media screen and (min-width: 993px) {
  .modal {
    width: 40%;
  }
}
