<li><a href=""><i class="tiny material-icons left">flight</i>Vuelos</a></li>
<li><a href=""><i class="tiny material-icons left">date_range</i>Reservaciones</a></li>
<li><a href="air-ballons"><i class="tiny material-icons left">panorama</i>Globos</a></li>
<li><a href="employees"><i class="tiny material-icons left">supervisor_account</i>Empleados</a></li>
<li><a href=""><i class="tiny material-icons left">credit_card</i>Gastos</a></li>
<li><a href="routes"><i class="tiny material-icons left">trending_up</i>Rutas</a></li>
<li><a href="extras"><i class="tiny material-icons left">shopping_basket</i>Accesorios</a></li>
<li><a href="cost-accounts"><i class="tiny material-icons left">account_balance_wallet</i>Cuentas Costos</a></li>
<li><a href="types"><i class="tiny material-icons left">cloud</i>Tipos de Globos</a></li>
<li><a href="prices"><i class="tiny material-icons left">attach_money</i>Precios</a></li>
